* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h4, h5, h6 {
    color: royalblue;
}

h1 {
    font-size: 2rem;
}

h3 {
    color: midnightblue;
    font-size: 1.5rem;
}

.topics {
    padding-top: 7px;
    padding-bottom: 8px;
    background-color: mintcream; /* or azure */
}

.tabBtn {
    color: royalblue;
}

.tabBtn.btn-primary {
    color: white;
}

.show {
    display: block;
}

.hide {
    display: none;
}

li {
    margin-bottom: 0.1rem;
}

li>a {
    text-decoration: none;
}

.social {
    width: 40px;
}

.social-lg {
    width: 56px;
}
.social:hover, .social-lg:hover {
    transition: transform .2s;
    transform: scale(1.5);
    cursor: pointer;
}
.custom-bs-tooltip {
    --bs-tooltip-bg: #2e86c1;
    --bs-tooltip-color: white;
}